/**
 * 	Name: components.css
 *
 *  Styling for the components that create the page content: accordion, tabs, pie charts etc.
 *
 *  T.O.C
 *
 *	=Accordions and Toggles
 *	=Alerts
 *	=Animations
 *  =Boxes
 *	=Buttons
 *  =Callout
 *	=Clients logos
 *	=Contact form
 *	=Countdown
 *	=Dividers
 *  =Dropcaps
 *	=Galleries
 *	=Google Maps
 *	=Headlines
 *	=Icon Boxes
 *  =Image Box
 *	=Milestones
 *  =Modal window
 *	=Our Process
 *	=Pie charts
 *	=Pricing Tables
 *	=Progress Bar
 *	=Revolution Slider
 *	=Social Media
 *	=Tabs
 *	=Testimonials
 *	=Team Member
 *	=Portfolio Item
 *	=Portfolio Filter
 *	=Portfolio Pagination
 *	=Portfolio Grid
 *	=Bx Slider 
 *	=Fullwidth Section 
 *
 */
 
/* ==========================================================================
   =Accordions and Toggles
   ========================================================================== */

/* =Accordion
   ========================================================================== */
	
	.accordion { margin-bottom: 30px; }

	.accordion-item {
		position: relative;
		display: block;
		padding: 15px 25px;
		margin-bottom: 15px;
		background-color: #f1f1f1;
		color: #505050;
		font-weight: 700;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	a.accordion-item { color: #505050; }
	
	.accordion-item:after {
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 24px;
		font-weight: 400;
		content: "+";
	}
	
	.accordion-item.active:after { content: "-"; }
	
	.accordion-item:hover,
	.accordion-item.active {
		background-color: #0084b4;
		color: #fff;
		text-decoration: none;
	}
	
	.accordion-item-content { 
		display: none;
		padding: 20px 0 35px 0; 
	}
	
	.accordion-item-content *:last-child { margin-bottom: 0; }
	
	/*
	 * 1. Clearfix hack 
	 */
	 
	.accordion-item-content:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}
	
/* =Toggle
   ========================================================================== */
	
	.toggle { margin-bottom: 30px; }
	
	.toggle-item {
		position: relative;
		display: block;
		padding: 15px 25px;
		margin-bottom: 15px;
		background-color: #f1f1f1;
		color: #505050;
		font-weight: 700;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	a.toggle-item { color: #505050; }
	
	.toggle-item:after {
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 24px;
		font-weight: 400;
		content: "+";
	}
	
	.toggle-item.active:after { content: "-"; }
	
	.toggle-item:hover,
	.toggle-item.active {
		background-color: #0084b4;
		color: #fff;
		text-decoration: none;
	}
	
	.toggle-item-content { 
		display: none;
		padding: 20px 0 35px 0; 
	}
	
	.toggle-item-content *:last-child { margin-bottom: 0; }
	
	/*
	 * 1. Clearfix hack 
	 */
	 
	.toggle-item-content:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}

/* ==========================================================================
   =Alerts
   ========================================================================== */

	.alert {
		padding: 15px 25px;
		border: 2px solid #e1e1e1;	
		margin-bottom: 30px;
		background-color: #fff;
		color: #505050;
		text-align: center;
	}
	
	.alert i {
		position: relative;
		top: 1px;
		margin-right: 7px;
		font-size: 16px;
	}
	
	.alert.info {
		border-color: #e1e1e1;
		background-color: #e1e1e1;
		color: #505050;
	}
	
	.alert.success {
		border-color: #0084b4;
		background-color: #0084b4;
		color: #fff;
	}
	
	.alert.error {
		border-color: #ff0030;
		background-color: #ff0030;
		color: #fff;
	}
	
	.alert.warning {
		border-color: #202020;
		background-color: #202020;
		color: #fff;
	}
	
	h1.error {
		margin-bottom: 50px;
		color: #0084b4;
		font-size: 112px;
		line-height: 112px;
		font-weight: 700;
		text-align: center;
	}
	
/* ==========================================================================
   =Animations
   ========================================================================== */
   
   .animate {
		-webkit-animation-duration: 1s;
				animation-duration: 1s;
		-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
		visibility: hidden;
	}

	.animate.visible { visibility: visible; }
	.animate.hidden { visibility: hidden; }

/* ==========================================================================
   =Boxes
   ========================================================================== */
	
	.box { 
		padding: 30px; 
		margin-bottom: 30px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.box .btn { margin-top: 15px; }
	
	.box > img {
		display: block;
		margin-bottom: 20px;
	}
	
	.box  > *:last-child { margin-bottom: 0; } 

	.box.box-style-1 { border: 2px solid #0084b4; }

	.box.box-style-2 {
		background-color: #0084b4;
		color: #fff;
	}
	
	.box.box-style-2 .btn-white {
		border-color: #fff;
		color: #fff;
	}
	
	.box.box-style-2 a,
	.box.box-style-2 h1,
	.box.box-style-2 h2,
	.box.box-style-2 h3,
	.box.box-style-2 h4,
	.box.box-style-2 h5,
	.box.box-style-2 h6 { color: #fff; }
	
	.box.box-style-2 h1 {
		margin-bottom: 0;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	.box.box-style-2 h1 small { 
		font-size: 18px;
		font-weight: 800;
	}
	
	.box.box-style-2 .icon-box-1 > i { color: #fff; }
	
	.boxes-wrapper { margin: 50px 0 100px 0; }
	
	.boxes-wrapper .box {
		display: table-cell;
		width: 33.33333%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 30px 30px 50px 30px;
		margin-bottom: 0;
	}
	
	.box:hover {
		box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.2);
		-webkit-transform: scale(1.05);
			-ms-transform: scale(1.05);
				transform: scale(1.05);
	}
   
	/*
	 * 1. Clearfix hack 
	 */
	 
	.boxes-wrapper:after,
	.box:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}
	
	@media (min-width: 1400px) {
		
		.box > img {
			float: left;
			margin-right: 20px;
		}
		
		.boxes-wrapper .box { padding: 70px 70px 70px 150px; }
		
		.boxes-wrapper .box .icon-box-1 { margin-left: -65px; }
		
		.box.box-style-2 h1 { margin-left: -95px; }
		
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.boxes-wrapper .box {
			display: block;
			width: 100%;
		}
		
		.box > img {
			float: left;
			margin-right: 20px;
		}
		
		.boxes-wrapper .box { padding: 70px 70px 70px 150px; }
		
		.boxes-wrapper .box .icon-box-1 { margin-left: -65px; }
		
		.box.box-style-2 h1 { margin-left: -95px; }
		
	}
	
	@media (max-width: 767px) {
		
		.boxes-wrapper .box {
			display: block;
			width: 100%;
			padding: 25px 25px 40px 25px;
		}
		
	}
	
/* ==========================================================================
   =Buttons
   ========================================================================== */

/* =Default Button
   ========================================================================== */
   
	.btn { 
		display: inline-block; 
		padding: 10px 25px; 
		border: 2px solid #0084b4;
		margin: 0 5px 20px 0;
		background-color: #0084b4;
		color: #fff;
		line-height: 18px;
		font-weight: 800;
		letter-spacing: 1px;
		text-decoration: none !important;
		text-transform: uppercase;
		vertical-align: middle;
		cursor: pointer;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	a.btn { color: #fff; }
	
	.btn:focus { outline: 0; }
	
	.btn-large {
		padding: 15px 35px;
		font-size: 20px;
	}
	
	.btn i,
	.btn-large i { 
		float: left; 
		margin: 2px 8px 0 -4px; 
	}
	
	.btn:hover {
		-webkit-transform: scale(1.1);
			-ms-transform: scale(1.1);
				transform: scale(1.1);
	}

/* =Colored Buttons
   ========================================================================== */
	
	.btn-white {
		border-color: #0084b4;
		background-color: transparent;
		color: #0084b4;
	}
	
	a.btn-white { color: #0084b4; }
	
	.btn-white-2 {
		border-color: #202020;
		background-color: #fff;
		color: #202020;
	}
	
	a.btn-white-2 { color: #202020; }
	
	.btn-black {
		border-color: #202020;
		background-color: #202020;
		color: #fff;
	}
	
	a.btn-black { color: #fff; }

/* ==========================================================================
   =Callouts
   ========================================================================== */

	.callout {
		padding: 30px 0;
		margin-bottom: 30px;
	}	

	.callout-content h2 { margin-bottom: 0; }
	
	.callout-content > *:last-child,
	.callout-action > *:last-child {
		margin-bottom: 0; 
	}
	
	.callout-action {
		padding-top: 30px;
		text-align: right; 
	}
	
	.callout-2 {
		position: relative;
		padding: 35px 50px;
		margin-bottom: 30px;
		background-color: #f1f1f1;
	}
	
	.callout-2 .callout-content { 
		padding-left: 140px;
		color: #505050;
	}
	
	.callout-2 .callout-content > i {
		position: absolute;
		top: -35px;
		bottom: -35px;
		left: -35px;
		display: block;
		width: 140px;
		background-color: #0084b4;
		color: #fff;
		font-size: 32px;
		line-height: 140px;
		text-align: center;
	}
	
	.callout-2 .callout-action { padding-top: 10px; }

	/*
	 * 1. Clearfix hack 
	 */
	 
	.callout:after, 
	.callout-2:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.callout-2 { padding: 35px 10px; }
		
		.callout-2 .callout-content > i {
			left: -10px;
			width: 80px;
		}
		
		.callout-2 .callout-content { padding-left: 100px; }
		
	}
	
	@media (max-width: 767px) {		
		
		.callout-2 .callout-content > i {
			position: relative;
			left: 0;
			width: 100%;
		}
		
		.callout-2 .callout-content { 
			padding-top: 35px;
			padding-left: 0;
		}
		
	}
   
/* ==========================================================================
   =Clients logos
   ========================================================================== */
	
	.clients-logos {
		margin-bottom: 50px;
		list-style: none;
	}
	
	.clients-logos li a {
		float: left;
		width: 20%;
		padding: 25px 0;
		opacity: 0.5;
		-webkit-transition: opacity 0.3s;
				transition: opacity 0.3s;
	}
	
	.clients-logos li a.active,
	.clients-logos li a:hover { opacity: 1; }
	
	/*
	 * 1. Clearfix hack 
	 */
	 
	.clients-logos:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}
	
	@media (max-width: 767px) {
		
		.clients-logos li a { width: 50%; }
		
	}

/* ==========================================================================
   =Contact form
   ========================================================================== */
  
	#contact-form { margin: 60px 0; }
	
	#contact-form fieldset {}
	
	label.validation-error { color: #ff0030; }
	
	input.validation-error,
	textarea.validation-error,
	select.validation-error { border: 1px solid #e1e1e1; }
	
	#contact-form #formstatus {}
		
	#contact-form textarea {}	
	
	/*
	 * 1. Clearfix hack 
	 */
	#contact-form:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}

/* ==========================================================================
   =Countdown
   ========================================================================== */
	
	#countdown {
		margin: 140px 0 120px;
		text-align: center;
	}
	
	.countdown-section {
		position: relative;
		float: left;
		width: 25%;
	}
	
	.countdown-section:after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		border-right: 2px solid #b8b8b8;
		content: "";
		-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
				transform: rotate(45deg);
	}
	
	.countdown-section:last-child:after { content: none; } 
	
	.countdown-amount {
		display: block;
		font-size: 92px;
		line-height: 98px;
		font-weight: 600;
		color: #202020;
	}
	
	.countdown-period {
		color: #0084b4;
		font-weight: 800;
		text-transform: uppercase;
	}
	
	/*
	 * 1. Clearfix hack 
	 */
	#countdown:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.countdown-amount {
			font-size: 72px;
			line-height: 78px;
		}
		
	}
	
	@media (max-width: 767px) {
		
		.countdown-amount {
			font-size: 32px;
			line-height: 48px;
		}
		
		.countdown-section:after { content: none; } 
		
	}
	
/* ==========================================================================
   =Dividers
   ========================================================================== */

	.divider { margin: 50px 0; }
	
	.divider.single-line { border-top: 2px solid #898989; }
	
	.divider.double-line { border-top: 6px double #898989; }

/* ==========================================================================
   =Dropcaps
   ========================================================================== */
   
	.dropcap {
		float: left;
		display: block;
		margin: 5px 10px 0 0;
		font-size: 34px;
		line-height: 42px;
	}
	
	.dropcap.dropcap-square {
		width: 42px;
		height: 42px;
		background-color: #0084b4;		
		color: #ffffff;
		font-size: 22px;		
		line-height: 42px;
		text-align: center;
		
	}
	
	.dropcap.dropcap-circle {
		width: 42px;
		height: 42px;
		border-radius: 50%;
		background-color: #0084b4;		
		color: #ffffff;
		font-size: 22px;		
		line-height: 42px;
		text-align: center;
	}
   
/* ==========================================================================
   =Galleries
   ========================================================================== */
	
	
	
/* ==========================================================================
   =Google Maps
   ========================================================================== */

	.google-map {
		width: 100%; 
		height: 400px;
	}
	
	/**
	 * 1. needed so that Google Maps controls are not distorted
	 */
	
	.google-map  img { max-width: none; }	/* 1 */
	
	.map { margin-bottom: 100px; }
	
	@media (max-width: 767px) {

		.map { padding: 0 20px; }
		.row .map { padding: 0; }
		
	}

/* ==========================================================================
   =Headlines
   ========================================================================== */

	.headline {
		padding-top: 35px;
		margin-bottom: 100px;
		background: url(../images/bg-headline.png) no-repeat center top;
		text-align: center;
	}
	
	.headline h2 {
		margin-bottom: 0;
		text-transform: uppercase;
	}
	
/* ==========================================================================
   =Icon Boxes
   ========================================================================== */

/* =Icon Box 1
   ========================================================================== */
   
	.icon-box-1 { 
		position: relative; 
		margin-bottom: 50px; 
	}
		
	.icon-box-1 > i { 
		float: left;
		display: block;
		color: #b8b8b8;
		font-size: 32px; 
		line-height: 48px;
		-webkit-transition: color 0.3s;
				transition: color 0.3s;
	} 
	
	.icon-box-1 h5 {
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	
	.icon-box-1 h6 {
		margin-bottom: 15px;
		text-transform: uppercase;
	}
	
	.icon-box-1 .icon-box-content { margin-left: 65px; }
	
	.icon-box-1:hover > i { color: #0084b4; }

/* =Icon Box 2
   ========================================================================== */
   
	.icon-box-2 { 
		position: relative; 
		margin-bottom: 50px;
		text-align: center; 
	}
		
	.icon-box-2 > i { 
		display: block;
		width: 85px;
		height: 85px;
		border-radius: 50%;
		margin: 0 auto 20px auto;
		background-color: #b8b8b8;
		color: #fff; 
		font-size: 32px;
		line-height: 85px;
		text-align: center;
		-webkit-transition: background-color 0.3s;
				transition: background-color 0.3s;
	}
	
	.icon-box-2 h5 {
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	
	.icon-box-2 .icon-box-content {}
	
	.icon-box-2:hover > i { background-color: #0084b4; }

/* =Icon Box 3
   ========================================================================== */
   
	.icon-box-3 { 
		position: relative; 
		margin-bottom: 50px;
		text-align: right; 
	}
		
	.icon-box-3 > i { 
		float: right;
		display: block;
		margin-left: 40px;
		color: #b8b8b8;
		font-size: 32px; 
		line-height: 48px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	} 
	
	.icon-box-3 h6 {
		padding-top: 20px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	
	.icon-box-3 .icon-box-content { margin-right: 65px; }
	
	.icon-box-3:hover > i {
		color: #0084b4;
		-webkit-transform: scale(1.2);
			-ms-transform: scale(1.2);
				transform: scale(1.2);
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.icon-box-3 > i { float: none; }
		
	}
		

/* =Icon Box 4
   ========================================================================== */
   
	.icon-box-4 { 
		position: relative; 
		margin-bottom: 50px; 
	}
		
	.icon-box-4 > i { 
		float: left;
		display: block;
		margin-right: 40px;
		color: #b8b8b8;
		font-size: 32px; 
		line-height: 48px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	} 
	
	.icon-box-4 h6 {
		padding-top: 20px;
		margin-bottom: 10px;
		text-transform: uppercase;
		-webkit-transition: color 0.3s;
				transition: color 0.3s;
	}
	
	.icon-box-4 .icon-box-content { margin-left: 65px; }
	
	.icon-box-4:hover > i {
		color: #0084b4;
		-webkit-transform: scale(1.2);
			-ms-transform: scale(1.2);
				transform: scale(1.2);
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.icon-box-4 > i { float: none; }
		
	}

/* ==========================================================================
   =Image Box
   ========================================================================== */

	.image-box {
		overflow: hidden;
		margin-bottom: 50px;	
	}
	
	.image-box-img { margin-bottom: 35px; }
	
	.image-box-img img {
		display: block;
		width: 100%;
	}
	
	.image-box h5 {
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	
	.image-box > *:last-child { margin-bottom: 0; }
   
/* ==========================================================================
   =Milestones
   ========================================================================== */

	.milestone {
		position: relative;
		margin-bottom: 30px;
		text-align: center;
	}
	
	/*
	 * 1. Clearfix hack 
	 */
	.milestone:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}
	
	.milestone i {
		z-index: 2;
		margin-right: 10px;
		font-size: 32px;
	}
	
	.milestone .milestone-content {
		z-index: 1;
		font-size: 48px;
		line-height: 40px;
		font-weight: 600;
	}
	
	.milestone .milestone-description { 
		font-size: 14px;
		font-weight: 800;
		text-transform: uppercase;
	}

/* ==========================================================================
   =Modal window
   ========================================================================== */	
   
	.white-popup {
		position: relative;
		width: auto;
		max-width: 500px;
		padding: 20px;
		margin: 20px auto;
		background: #fff;
	}
	
/* ==========================================================================
   =Our Process
   ========================================================================== */
/* =Vertical process
   ========================================================================== */

	.vertical-process-builder {
		position: relative;
		margin-bottom: 50px;
		list-style: none;
	}
	
	.vertical-process-builder:before {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 16px;
		display: block;
		height: 100%;
		border-left: 2px solid #e1e1e1;
		content: "";
	}
	
	.vertical-process-builder li {
		position: relative;
		margin-bottom: 30px; 
	}
	
	.vertical-process-builder li i,
	.vertical-process-builder li h5 {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 0;
		display: block;
		width: 50px;
		height: 50px;
		overflow: hidden;
		border: 2px solid #e1e1e1;
		border-radius: 50%;
		margin-left: -10px;
		background-color: #fff;
		background-clip: padding-box;
		color: #505050;
		line-height: 50px;
		text-align: center;
		-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
				transform: translateY(-50%);
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.vertical-process-builder li i { font-size: 18px; }
	
	.vertical-process-builder .process-description {
		position: relative;
		padding: 40px 45px;
		margin-left: 80px;
		background-color: #f1f1f1;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.vertical-process-builder .process-description:before {
		position: absolute;
		top: 50%;
		left: -10px;
		width: 0; 
		height: 0; 
		border-top: 7px solid transparent; 
		border-right: 10px solid #f1f1f1; 
		border-bottom: 7px solid transparent;
		content: "";
		-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
				transform: translateY(-50%);
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.vertical-process-builder .process-description h6 { 
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.vertical-process-builder .process-description *:last-child { margin-bottom: 0; }
	
	.vertical-process-builder li:hover i,
	.vertical-process-builder li:hover h5 { 
		border-color: #0084b4;
		color: #0084b4;
	}
	
	.vertical-process-builder li:hover .process-description {
		background-color: #0084b4;
		color: #fff;
	}
	
	.vertical-process-builder li:hover .process-description h6 { color: #fff; }
	
	.vertical-process-builder li:hover .process-description:before { border-right-color: #0084b4; }
	
	@media (max-width: 767px) {
		
		.vertical-process-builder .process-description { 
			padding: 20px;
			margin-left: 60px;
		}
		
	}

/* ==========================================================================
   =Pie charts
   ========================================================================== */

	.pie-chart {
		position: relative;	
		margin: 0 auto 30px;
		text-align: center;
	}
	
	.pie-chart canvas {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
	}
	
	.pie-chart i, 
	.pie-chart .pie-chart-custom-text, 
	.pie-chart .pie-chart-percent {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		text-align: center;
	}
	
	.pie-chart img {
		max-width:100%;
		vertical-align: middle;
	}
	
	.pie-chart .pie-chart-custom-text { font-size: 18px; }
	
	.pie-chart .pie-chart-percent {
		color: #0084b4;
		font-size: 36px; 
	}
	
	.pie-chart-description {
		display: block;
		margin-bottom: 30px;
		font-size: 14px;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
	}

/* ==========================================================================
   =Pricing Tables
   ========================================================================== */

	.pricing-table {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 40px 20px;
		border: 2px solid #e1e1e1;
		margin-bottom: 30px;
		text-align: center;
		-webkit-transition: border-color 0.3s;
				transition: border-color 0.3s;
	}

	.pricing-table-header {}

	.pricing-table-header h1 {
		margin-bottom: 0;
		font-size: 60px;
		line-height: 90px;
		font-weight: 700;
		text-transform: uppercase;
		-webkit-transition: color 0.3s;
				transition: color 0.3s;
		
	}
	
	.pricing-table-header h1 small {
		margin-left: -20px;
		font-size: 14px;
		letter-spacing: 0.25px;
	}

	.pricing-table-header h4 {
		padding-bottom: 30px;
		border-bottom: 2px solid #e1e1e1;
		margin-bottom: 15px;
		text-transform: uppercase;
		-webkit-transition: color 0.3s;
				transition: color 0.3s;
	}
		
	.pricing-table-offer { margin-bottom: 30px; }
	
	.pricing-table-offer ul { list-style: none; }
	
	.pricing-table-offer ul li { 
		border-top: 1px solid #e1e1e1; 
		padding: 10px 0; 
	}
	
	.pricing-table-offer ul li:first-child { border-top: none; }
	
	.pricing-table .btn { margin-bottom: 0; }
	
	.pricing-table:hover { border-color: #0084b4; }
	
	.pricing-table:hover .pricing-table-header h1, 
	.pricing-table:hover .pricing-table-header h4 { color: #0084b4; }

/* ==========================================================================
   =Progress Bar
   ========================================================================== */

	.progress-bar-description {
		display: block;
		margin-bottom: 10px;
		color: #202020;
		line-height: 14px;
		font-weight: 800;
		text-transform: uppercase;
	}
	
	.progress-bar {
		position: relative;
		display: block;
		height: 8px;
		border-radius: 10px;
		margin-bottom: 30px;
		background-color: #e1e1e1;
	}
	
	.progress-bar .progress-bar-outer {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		border-radius: 10px 0 0 10px;
		background-color: #0084b4;
	}
	
	.progress-bar .progress-bar-outer .progress-bar-inner {
		position: absolute;
		z-index: 1;
		overflow: hidden;
		top: 0;
		left: 0;
		display: block;
		height: 100%;
		width: 100%;
	}
	
	.progress-percentage {
		position: absolute;
		top: -30px;
		right: 0;
		color: #202020;
		font-weight: 800;
	}

/* ==========================================================================
   =Revolution Slider
   ========================================================================== */
   
/* =Rev Slider Basics
   ========================================================================== */   
	
	.rev_slider_wrapper { margin-bottom: 120px; }

/* =Rev Slider Pager
   ========================================================================== */

   /**
 	 * 1. changing the z-index from 1000 so that the bullets don't go over the sticky menu
 	 */
   
	.tp-bullets { 
		z-index: 100; /* 1 */
	}
	   
	.tp-bullets.default .tp-bullet {
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: #b8b8b8;
	}

	.tp-bullets.default .tp-bullet.selected { background: #898989; }

/* =Rev Slider navigation
   ========================================================================== */

	.tp-leftarrow.default,
	.tp-rightarrow.default {
		width: 70px;
		height: 70px;
		background-color: #fff;
	}

	.tp-leftarrow.default:hover:before,
	.tp-rightarrow.default:hover:before { color: #0084b4; }
	
	.tp-leftarrow.default:before,
	.tp-rightarrow.default:before {
		font-family: "FontAwesome";
		color: #b8b8b8;
		font-size: 32px;
		line-height: 70px;
		-webkit-transition: color 0.3s;
				transition: color 0.3s;
	}
	
	.tp-leftarrow.default:before { content: "\f060"; }
	.tp-rightarrow.default:before { content: "\f061"; }
	
/* =Rev Slider typography
   ========================================================================== */
   	
	.tp-caption.title {
		color: #202020;
		font-size: 48px;
		line-height: 48px;
		font-weight: 800;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
	
	.tp-caption.text {
		color: #898989;
		font-size: 18px;
		line-height: 30px;
	}
	
	.tp-caption.text-2 {
		color: #0084b4;
		font-size: 18px;
		line-height: 30px;
		font-weight: 600;
	}
	
	.tp-caption .btn-white {
		border-color: #fff;
		background-color: #fff;
		color: #202020;
	}

	@media (min-width: 768px) and (max-width: 991px) {
		
		.tp-leftarrow.default,
		.tp-rightarrow.default { display: none; }
		
		.tp-caption .btn { padding: 7px 15px; }
		
	}

	@media (max-width: 767px) {
		
		.tp-leftarrow.default,
		.tp-rightarrow.default { display: none; }
		
		.tp-bullet {
			top: auto !important;
			bottom: -30px !important; 
		}
		
		.tp-caption .btn { 
			padding: 5px 10px;
			line-height: 10px;
		}
		
	}
	
/* ==========================================================================
   =Social Media
   ========================================================================== */

	a.social-icon {
		display: inline-block;
		margin-right: 30px;
		color: #505050;
		text-align: center;
	}

	a.social-icon:last-child { margin-right: 0; }

	a.social-icon i {
		font-size: 18px;
		line-height: 32px;
	}
	
	a.social-icon:hover { text-decoration: none; }
	
	a.facebook-icon:hover { color: #0e59a0 !important; }
	a.twitter-icon:hover { color: #0ea4ff !important; }
	a.dribble-icon:hover { color: #ea73a0 !important; }
	a.pinterest-icon:hover { color: #d73532 !important; }
	a.googleplus-icon:hover { color: #dc4a38 !important; }
	a.tumblr-icon:hover { color: #586980 !important; }
	a.instagram-icon:hover { color: #82685a !important; }
	a.rss-icon:hover { color: #f79638 !important; }
	a.linkedin-icon:hover { color: #018faf !important; }
	a.skype-icon:hover { color: #00b0f6 !important; }
	a.flickr-icon:hover { color: #0061db !important; }
	a.vimeo-icon:hover { color: #63879c !important; }
	a.github-icon:hover { color: #3b3b3b !important; }
	a.youtube-icon:hover { color: #cc181e !important; }
	a.windows-icon:hover { color: #6dc2e9 !important; }
	a.dropbox-icon:hover { color: #007ee5 !important; }
	a.xing-icon:hover { color: #026566 !important; }	
	a.adn-icon:hover { color: #1ea076 !important; }
	a.android-icon:hover { color: #98cb02 !important; }
	a.apple-icon:hover { color: #000000 !important; }
	a.behance-icon:hover { color: #2d9ad2 !important; }
	a.bitbucket-icon:hover { color: #214f81 !important; }
	a.bitcoin-icon:hover { color: #f7931b !important; }
	a.codepan-icon:hover { color: #000000 !important; }
	a.css3-icon:hover { color: #3289ce !important; }
	a.delicious-icon:hover { color: #3399fe !important; }
	a.deviantart-icon:hover { color: #c8da30 !important; }
	a.digg-icon:hover { color: #0080c2 !important; }
	a.drupal-icon:hover { color: #0077b9 !important; }
	a.empire-icon:hover { color: #000000 !important; }
	a.foursquare-icon:hover { color: #daecb0 !important; }
	a.git-icon:hover { color: #f34f29 !important; }
	a.gitti-icon:hover { color: #634c3e !important; }
	a.hacker-news-icon:hover { color: #f18642 !important; }
	a.html5-icon:hover { color: #e54c1f !important; }
	a.joomla-icon:hover { color: #016fb9 !important; }
	a.jsfiddle-icon:hover { color: #4679a4 !important; }
	a.linux-icon:hover { color: #fece0e !important; }
	a.maxcdn-icon:hover { color: #f36f20 !important; }
	a.openid-icon:hover { color: #fe6101 !important; }
	a.pagelines-icon:hover { color: #3783e3 !important; }
	a.pied-piper-icon:hover { color: #0c7b48 !important; }
	a.qq-icon:hover { color: #23286c !important; }
	a.rebel-icon:hover { color: #000000 !important; }
	a.reddit-icon:hover { color: #cee3f8 !important; }
	a.renren-icon:hover { color: #0d81e4 !important; }
	a.share-icon:hover { color: #252525 !important; }
	a.slack-icon:hover { color: #453744 !important; }
	a.soundcloud-icon:hover { color: #fe4e00 !important; }
	a.spotify-icon:hover { color: #80bb41 !important; }
	a.stack-exchange-icon:hover { color: #265a93 !important; }
	a.stackoverflow-icon:hover { color: #fea501 !important; }
	a.steam-icon:hover { color: #191919 !important; }
	a.stumbleupon-icon:hover { color: #f04f23 !important; }
	a.tencent-weibo-icon:hover { color: #0063a7 !important; }
	a.trello-icon:hover { color: #226784 !important; }
	a.vine-icon:hover { color: #00b081 !important; }
	a.vk-icon:hover { color: #50769d !important; }
	a.wechat-icon:hover { color: #a4dc31 !important; }
	a.weibo-icon:hover { color: #d82828 !important; }
	a.wordpress-icon:hover { color: #454442 !important; }
	a.yahoo-icon:hover { color: #4b04a8 !important; }

/* ==========================================================================
   =Tabs
   ========================================================================== */

/* =Horizontal tabs
   ========================================================================== */
		
   /*
    *  1. Wraps around a horizontal tab group
	*/
   
	.tabs-container {} /* 1 */

	.tabs-container .tabs-menu {
		margin-bottom: 40px;
		list-style: none; 
	}
	
	.tabs-container .tabs-menu li { display: inline-block; }
	
	.tabs-container .tabs-menu li a { 
		float: left; 
		display: block;
		padding: 15px 35px;
		background-color: #f1f1f1;
		color: #202020;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: all 0.2s;
				transition: all 0.2s;
	}
	
	.tabs-container .tabs-menu li a:hover,
	.tabs-container .tabs-menu li.active a {
		background-color: #0084b4;
		color: #fff;
	}
	
	.tabs-container .tabs { margin-bottom: 50px; }
	
	.tabs-container .tab-content {}
	
	/*
	 * 1. Clearfix hack 
	 */
	.tabs-container .tabs-menu:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.tabs-container .tabs-menu li a { padding: 10px 15px; }
		
	}
	
	@media (max-width: 767px) {
	
		.tabs-container .tabs-menu { border-bottom: none; }
		
		.tabs-container .tabs-menu li { display: block; }
	
		.tabs-container .tabs-menu li a { 
			float: none; 
			display: block;
			padding: 20px 25px;
			border: 1px solid #e1e1e1;
			border-top: none;
			margin: 0;
		}
		
		.tabs-container .tabs-menu li a:hover { text-decoration: none; }
		
		.tabs-container .tabs-menu li:first-child a { border-top: 1px solid #e1e1e1; }
		
		.tabs-container .tabs-menu li.active a {  
			padding: 20px 25px;
			margin: 0;
			background-color: #0084b4;
			color: #fff; 
		}	
	  
	}
	
/* ==========================================================================
   =Testimonials
   ========================================================================== */

	.testimonial { 
		margin-bottom: 30px;
		text-align: center;
	}
	
	.testimonial:after {
		display: inline-block;
		margin-top: 30px;
		font-family: "FontAwesome";
		font-size: 24px;
		content: "\f10d";
	}
	
	.testimonial blockquote { margin-bottom: 50px; }
	
	.testimonial blockquote h3 { font-weight: 600; }
	
	.testimonial > img { 
		border-radius: 50%;
		margin-bottom: 50px;
	}
	
	.testimonial > h5 {
		color: #0084b4;
		text-transform: uppercase;
	}
	
	.testimonial > h6 { 
		font-weight: 600;
		font-style: italic;
	}
	
/* ==========================================================================
   =Team Member
   ========================================================================== */

	.team-member {
		position: relative;
		overflow: hidden;
		margin-bottom: 50px;
		text-align: center;
		-webkit-transition: box-shadow 0.3s;
				transition: box-shadow 0.3s;
	}
	
	.team-member img {
		display: block;
		width: 100%;
	}
	
	.team-member-description {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 25px 15px;
		background-color: rgba(0, 132, 180, 0.9);
		-webkit-transition: bottom 0.3s;
				transition: bottom 0.3s;
	}
	
	.team-member-description h5 {
		margin-bottom: 0;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	.team-member-description h6 {
		color: #fff;
		font-weight: 600;
	}
	
	.team-member .social-media {
		position: absolute;
		bottom: -72px;
		right: 0;
		left: 0;
		padding: 20px;
		background-color: #202020;
		-webkit-transition: bottom 0.3s;
				transition: bottom 0.3s;
	}
	
	.team-member .social-media a.social-icon { color: #fff; }
	
	.team-member:hover { box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2); }
	
	.team-member:hover .social-media { bottom: 0; }
	
	.team-member:hover .team-member-description { bottom: 72px; }
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.team-member .social-media a.social-icon { margin-right: 12px; }
		.team-member .social-media a.social-icon:last-child { margin-right: 0; }
		
		.team-member .social-media a.social-icon i { font-size: 16px;  }
		
	}
	
/* ==========================================================================
   =Portfolio Item
   ========================================================================== */
	
	.portfolio-item { 
		position: relative; 
		margin-bottom: 30px;
	}
	
	.portfolio-item-preview { 
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
	}
	
	.portfolio-item-preview > img {
		display: block;
		width: 100%;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.portfolio-item-overlay {
		position: absolute; 
		top: 0; 
		right: 0; 
		bottom: 0; 
		left: 0; 
		background-color: rgba(32, 32, 32, 0.95);
		opacity: 0;
		-webkit-transition: opacity 0.3s;
				transition: opacity 0.3s;
	}
	
	.portfolio-item:hover .portfolio-item-overlay { opacity: 1; }	
		
	.portfolio-item-overlay-actions {}
	
	.portfolio-item-overlay a { color: #fff; }
	
	.portfolio-item-overlay-actions a {
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 72px;
		height: 72px;
		border: 2px solid #fff;
		margin: -36px 0 0 -36px;
		font-size: 42px;
		line-height: 72px;
		text-align: center;
		text-decoration: none;
		-webkit-transform: scale(0);
			-ms-transform: scale(0);
				transform: scale(0);
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.portfolio-item-description h4 {
		margin-bottom: 20px;
		text-transform: uppercase; 
	}
	
	.portfolio-item-description .btn { margin-top: 30px; }
	
	.portfolio-item-overlay .portfolio-item-description {
		position: absolute;
		bottom: 20px;
		left: -100%;
		width: 100%;
		color: #fff;
		-webkit-transition: left 0.3s;
				transition: left 0.3s;
	}
	
	.portfolio-item-preview + .portfolio-item-description { margin: 30px 0; }
	
	.portfolio-item-preview + .portfolio-item-description p,
	.portfolio-item-overlay .portfolio-item-description p,
	.portfolio-item-preview + .portfolio-item-description h4,
	.portfolio-item-overlay .portfolio-item-description h4 { margin-bottom: 0; }
	
	.portfolio-item:hover .portfolio-item-overlay-actions a {
		-webkit-transform: scale(1);
			-ms-transform: scale(1);
				transform: scale(1);
	}
	
	.portfolio-item:hover .portfolio-item-preview > img {
		-webkit-transform: scale(1.2);
			-ms-transform: scale(1.2);
				transform: scale(1.2);
	}
	
	.portfolio-item:hover .portfolio-item-overlay .portfolio-item-description { left: 30px; }
	
	.portfolio-item.portfolio-list .portfolio-item-description {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 460px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 20px 30px;
		margin: 35px;
		background-color: #202020;
		color: #fff;
	}
	
	.portfolio-item.portfolio-list .portfolio-item-description h4 { margin-bottom: 20px; }
	
	.portfolio-item.portfolio-list .portfolio-item-description h4 a { color: #fff; }
	.portfolio-item.portfolio-list .portfolio-item-description h4 a:hover { color: #0084b4; }
	
	@media (min-width: 1200px) {
		
		.portfolio-item.portfolio-list .portfolio-item-description { 
			width: 420px;
			padding: 40px 60px;
		}
		
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.portfolio-item-overlay-actions a {
			width: 42px;
			height: 42px;
			margin: -40px 0 0 -21px;
			font-size: 24px;
			line-height: 42px;
		}
		
		.portfolio-item.portfolio-list .portfolio-item-preview { margin-bottom: 0; }
		
		.portfolio-item.portfolio-list .portfolio-item-description {
			position: relative;
			width: 100%;
			margin: 0;
			margin-bottom: 30px;
		}
		
	}
	
	@media (max-width: 767px) {
		
		.portfolio-item-overlay-actions a {
			width: 42px;
			height: 42px;
			margin: -50px 0 0 -21px;
			font-size: 24px;
			line-height: 42px;
		}
		
		.portfolio-item.portfolio-list .portfolio-item-preview { margin-bottom: 0; }
		
		.portfolio-item.portfolio-list .portfolio-item-description {
			position: relative;
			width: 100%;
			margin: 0;
			margin-bottom: 30px;
		}
		
	}
	
/* ==========================================================================
   =Portfolio Filter
   ========================================================================== */
	
	.portfolio-filter ul {
		margin-bottom: 70px;
		list-style: none;
	}
	
	.portfolio-filter ul li { 
		display: inline-block;
		margin-right: 30px;
	}
	
	.portfolio-filter ul li:last-child { margin-right: 0; }
	
	.portfolio-filter ul li a {
		color: #202020;
		font-weight: 700; 
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: color 0.3s;
				transition: color 0.3s;
	}
	
	.portfolio-filter ul li a:hover,
	.portfolio-filter ul li a.active { color: #0084b4; }	
	
	@media (max-width: 767px) {
		
		.portfolio-filter ul li { 
			display: block;
			margin-right: 0;
		}
		
	}

/* ==========================================================================
   =Portfolio Pagination
   ========================================================================== */
	
	.portfolio-pagination { 
		margin-bottom: 50px;
		text-align: center;
	}

	/*
	 * 1. Clearfix hack 
	 */
	.portfolio-pagination:after { /* 1 */
		visibility: hidden;
		display: table;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}	
	
	.portfolio-pagination .nav-links {}

	.portfolio-pagination .page-numbers {
		display: inline-block;
		width: 48px;
		height: 48px;
		margin-right: 5px;
		background-color: #e1e1e1;
		color: #fff;
		line-height: 48px;
		font-weight: 800;
		text-align: center;
		text-decoration: none;
		-webkit-transition: background-color 0.3s;
				transition: background-color 0.3s;
	}
	
	.portfolio-pagination .page-numbers:last-child { margin-right: 0; }

	.portfolio-pagination .page-numbers:hover,
	.portfolio-pagination .page-numbers.current { background-color: #0084b4; }

	.portfolio-pagination .current {}
	
	.portfolio-pagination .page-numbers.dots { 
		background-color: transparent;
		color: #505050;
	}
	
	.portfolio-pagination .page-numbers.dots:hover {}

	.portfolio-pagination .prev,
	.portfolio-pagination .next {}

	.portfolio-pagination .prev:before,
	.portfolio-pagination .next:before { font-family: "FontAwesome"; }

	.portfolio-pagination .prev:hover,
	.portfolio-pagination .prev:focus,
	.portfolio-pagination .next:hover,
	.portfolio-pagination .next:focus {}

	.portfolio-pagination .prev {}

	.portfolio-pagination .prev:before { content: "\f104"; }

	.portfolio-pagination .next {}

	.portfolio-pagination .next:before { content: "\f105"; }
   
/* ==========================================================================
   =Portfolio Grid
   ========================================================================== */

   .portfolio-grid {
		margin-bottom: 100px;
		list-style: none;
	}
	
	.portfolio-grid.gutter { margin: -15px -15px 100px -15px; }
	
	.portfolio-grid .item {
		float: left;
		width: 33.333333%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
	}
	
	.portfolio-grid.gutter .item { padding: 15px; }
	
	.portfolio-grid .portfolio-item, 
	.portfolio-grid .portfolio-item-preview { margin-bottom: 0; }
	
	.portfolio-grid.two-cols .item { width: 50%; }
	.portfolio-grid.three-cols .item { width: 33.333333%; } 
	.portfolio-grid.four-cols .item { width: 33.333333%; } 
	
	.portfolio-grid .item.width-1 { width: 66.666666%; } 
	.portfolio-grid .item.width-2 { width: 33.333333%; } 
	
	/*
	 * 1. Clearfix hack 
	 */
	.portfolio-grid:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}
	
	@media (min-width: 1200px) {
			
		.portfolio-grid.four-cols .item { width: 25%; } 
		
		.portfolio-grid .item.width-1 { width: 50%; } 
		.portfolio-grid .item.width-2 { width: 25%; } 
		
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.portfolio-grid.four-cols .item { width: 33.333333%; } 
		
	}
	
	@media (max-width: 767px) {
		
		.portfolio-grid .item {
			float: none;
			width: 100%; 
		}
		
		.portfolio-grid.two-cols .item,
		.portfolio-grid.three-cols .item,
		.portfolio-grid.four-cols .item, 
		.portfolio-grid .item.width-1,
		.portfolio-grid .item.width-2  { width: 100%; }
		
	}
	
/* ==========================================================================
   =Bx Slider
   ========================================================================== */
   
/* =Bx Slider reset
   ========================================================================== */
   
	.bx-wrapper { margin: 0 auto 40px; }
   
	.bx-pager,
	.bx-controls-auto,
	.bx-controls-direction  { z-index: 100; }
   
/* =Bx Slider theme
   ========================================================================== */   
   
   .bx-wrapper {		
		border: none;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;		
		background: none;
	}

/* =Bx Slider Pager
   ========================================================================== */ 
   
	.bx-wrapper .bx-pager.bx-default-pager a, 
	.bx-wrapper .bx-pager.bx-default-pager a:focus {
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background: #898989;
	}
		
	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active {
		background: #0084b4;
	}
	
	.bx-wrapper .bx-pager,
	.bx-wrapper .bx-controls-auto { bottom: 30px; }
	
/* =Bx Slider Dir Nav
   ========================================================================== */ 
   
	.bx-wrapper .bx-prev {
		left: 20px;
		background: #202020;
	}

	.bx-wrapper .bx-next {
		right: 20px;
		background: #202020;
	}
	
	.bx-wrapper .bx-prev:before { content: "\f060"; }
	.bx-wrapper .bx-next:before { content: "\f061"; }
	
	/*
	 * 1. We are changing the original z-index from 9999 to 1000 so that it doesn't overlap other elements that need to be above this one
	 */
	.bx-wrapper .bx-controls-direction a {
		width: 52px;
		height: 52px;
		overflow: hidden;
		z-index: 1000; /* 1 */
		margin-top: -26px;
		text-decoration: none;
		text-indent: 0;
		opacity: 0.5;
		-webkit-transition: opacity 0.3s;
				transition: opacity 0.3s;
	}
	
	.bx-wrapper .bx-controls-direction a:before {
		margin: 0 17px;
		font-family: "FontAwesome";
		color: #b8b8b8;
		font-size: 20px;
		line-height: 50px;
	}
	
	.bx-wrapper .bx-controls-direction a:hover { opacity: 1; }
	
	.blog-post-slider {
		padding: 35px 50px;
		background: url(../images/bg-blog-post-slider.jpg) no-repeat top center;
	}
	
	.blog-post-slider .bx-wrapper { margin-bottom: 0; }
	
	.blog-post-slider .post { margin-bottom: 0; }
	
	.blog-post-slider .bx-wrapper .bx-pager,
	.blog-post-slider .bx-wrapper .bx-controls-auto { bottom: -80px; }
	
	.blog-post-slider-2 .bx-wrapper .bx-prev { left: -100px; }
	.blog-post-slider-2 .bx-wrapper .bx-next { right: -100px; }
	
	.clients-logos-slider { margin-bottom: 100px; }
	
	.clients-logos-slider h5 { margin-bottom: 20px; }
	
	.clients-logos-slider .social-media { padding-top: 50px; }
	
	.features-slider {
		padding: 90px 0;
		margin-right: -32px;
		background: url(../images/bg-features-slider.png) no-repeat center right;
		text-align: right; 
	}
	
	.features-slider-text { padding-top: 45px; }
	
	.features-slider img { 
		display: inline-block;
		margin-top: 10px;
		margin-right: 15px;
	}
	
	.features-slider .bx-wrapper { margin-bottom: 0; }
	
	.features-slider .bx-wrapper .bx-pager, 
	.features-slider .bx-wrapper .bx-controls-auto { 
		bottom: -115px;
		right: 0;
		width: auto;
		margin-right: 73px;
		text-align: right;
	}
	
	.testimonial-slider { margin-bottom: 100px; }
	
	.testimonial-slider img { margin: 0 auto 50px auto; }	
	
	.testimonial-slider .bx-wrapper .bx-pager,
	.testimonial-slider .bx-wrapper .bx-controls-auto { bottom: -30px; }
	
	@media (min-width: 1200px) {
		
		.features-slider { margin-right: -15px; }
		
		.features-slider img { margin-top: 0; }
		
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.blog-post-slider { padding: 20px; }
		
		.features-slider { margin-right: -50px; }
		
		.features-slider img { margin-top: 35px; }
		
	}
	
	@media (max-width: 767px) {
		
		.blog-post-slider { padding: 20px; }
		
		.features-slider { 
			margin-right: 0;
			margin-bottom: 100px;
			background: none !important;
		}
		
		.features-slider img { margin-top: 35px; }
		
	}
	
/* ==========================================================================
   =Fullwidth Section
   ========================================================================== */
   
   	.fullwidth-section.custom-color-selected {
		background-color: #202020;
		color: #fff;
	}
	
	.fullwidth-section.custom-color-selected a,
	.fullwidth-section.custom-color-selected h1,
	.fullwidth-section.custom-color-selected h2,
	.fullwidth-section.custom-color-selected h3,
	.fullwidth-section.custom-color-selected h4,
	.fullwidth-section.custom-color-selected h5,
	.fullwidth-section.custom-color-selected h6, 
	.fullwidth-section.custom-color-selected .pie-chart .pie-chart-percent, 
	.fullwidth-section.custom-color-selected .progress-bar-description, 
	.fullwidth-section.custom-color-selected .progress-percentage, 
	.fullwidth-section.custom-color-selected .portfolio-pagination .page-numbers.dots, 
	.fullwidth-section.custom-color-selected .ewf_widget_latest_posts ul li .title, 
	.fullwidth-section.custom-color-selected .icon-box-1 > i { color: inherit; }
	
	.fullwidth-section.custom-color-selected a:hover, 
	.fullwidth-section.custom-color-selected .ewf_widget_latest_posts ul li .title:hover { color: #0084b4; }
	
	.fullwidth-section.custom-color-selected .accordion-item,
	.fullwidth-section.custom-color-selected .toggle-item { color: #505050; }
	
	.fullwidth-section.custom-color-selected .accordion-item:hover,
	.fullwidth-section.custom-color-selected .accordion-item.active,
	.fullwidth-section.custom-color-selected .toggle-item:hover, 
	.fullwidth-section.custom-color-selected .toggle-item.active, 
	.fullwidth-section.custom-color-selected .btn:hover, 
	.fullwidth-section.custom-color-selected .icon-box-5:hover a, 
	.fullwidth-section.custom-color-selected .portfolio-pagination .page-numbers:hover,
	.fullwidth-section.custom-color-selected .portfolio-pagination .page-numbers.current, 
	.fullwidth-section.custom-color-selected .widget_tag_cloud a:hover { color: #fff; }
	
	.fullwidth-section.custom-color-selected .divider,
	.fullwidth-section.custom-color-selected .btn-white { border-color: #fff; }
	
	.fullwidth-section .btn-white-2, 
	.fullwidth-section .btn-white-2:hover {
		border-color: #fff;
		color: #202020;
	}
	
	.fullwidth-section .ewf_widget_contact_info ul li {
		padding-bottom: 0;
		border-bottom: none;
	}
	
	
	#bg-1 {
		padding: 60px 0 40px 0;
		background-image: url(../../content/backgrounds/1920x1080-1.jpg);
	}
	
	#bg-2 {
		padding-top: 100px;
		padding-bottom: 0;
		margin-top: 50px;
		margin-bottom: 0;
		background-image: url(../../content/backgrounds/1920x1080-2.jpg);
	}
	
	#bg-3 {
		padding: 50px 0 15px 0;
		background-color: #0084b4;
	}
	
	#bg-4 {
		padding: 200px 0 100px 0;
		margin-bottom: 0;
		background-image: url(../../content/backgrounds/1920x1080-3.jpg);
	}
	
	#bg-4:before {
		position: absolute;
		top: 0;
		left: 50%;
		width: 0; 
		height: 0; 
		border-top: 85px solid #fff;
		border-right: 250px solid transparent; 
		border-left: 250px solid transparent; 
		content: "";
		-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
				transform: translateX(-50%);
	}
	
	#bg-5 { background-image: url(../../content/backgrounds/1920x1080-4.jpg); }
	
	#bg-6 {
		padding: 100px 0 80px 0;
		margin-top: 50px;
		margin-bottom: 0;
		background-image: url(../../content/backgrounds/1920x1080-5.jpg);
	}
	
	#bg-7 {
		padding: 100px 0 80px 0;
		margin-top: 50px;
		margin-bottom: 0;
		background-image: url(../../content/backgrounds/1920x1080-6.jpg);
	}
	
	#bg-8 {
		padding-top: 80px;
		margin-top: 80px;
		background-image: url(../../content/backgrounds/1920x1600.jpg);
	}
	
	#bg-9 {
		padding: 100px 0 80px 0;
		margin-top: 50px;
		margin-bottom: 0;
		background-image: url(../../content/backgrounds/1920x1080-7.jpg);
	}
	
	#bg-10 {
		padding: 100px 0 70px 0;
		margin-top: 50px;
		margin-bottom: 0;
		background-image: url(../../content/backgrounds/1920x1080-8.jpg);
	}
	
	#bg-11 { padding: 50px 0 15px 0; }
	
	#bg-12 { padding: 150px 0 130px 0; }
	
	#bg-13 {
		padding: 100px 0 80px 0;
		margin-top: 50px;
		background-image: url(../../content/backgrounds/1920x1080-9.jpg);
	}
	
	#bg-14 {
		padding: 100px 0 80px 0;
		margin-top: 50px;
		margin-bottom: 0;
		background-image: url(../../content/backgrounds/1920x1080-10.jpg);
	}
	
	#bg-15 {
		padding: 70px 0 50px 0;
		margin-top: 50px;
		margin-bottom: 0;
		background-image: url(../../content/backgrounds/1920x1080-11.jpg);
	}
	
	#bg-16 {
		margin-top: 80px;
		margin-bottom: 0;
		background-color: #e1e1e1;
	}
	
	#bg-16:after,
	#bg-16:before {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 50%;
		content: "";
	}
	
	#bg-16:before { 
		left: 0;
		background-color: #303030;
	}
	
	#bg-16:after { 
		right: 0;
		background-color: #e1e1e1;
	}
	
	#bg-16 .features-slider, 
	#bg-16 .features-slider h5 { color: #fff; }
	
	#bg-17 { background-color: #0084b4; }
	
	#bg-17 .text-highlight { color: #202020; }
	
	#bg-18 {
		padding: 200px 0 100px 0;
		margin-top: 50px;
		background-image: url(../../content/backgrounds/1920x1080-12.jpg);
	}
	
	#bg-18:before {
		position: absolute;
		top: 0;
		left: 50%;
		width: 0; 
		height: 0; 
		border-top: 85px solid #fff;
		border-right: 250px solid transparent; 
		border-left: 250px solid transparent; 
		content: "";
		-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
				transform: translateX(-50%);
	}
	
	#bg-19 {
		padding: 100px 0 80px 0;
		margin-top: 60px;
		margin-bottom: 0;
		background: url(../../content/backgrounds/1920x1080-13.jpg) no-repeat center bottom; 
	}
	
	#bg-20 {
		margin-bottom: 0;
		background-color: #0084b4;
	}
	
	#bg-21 {
		padding: 100px 0 50px 0;
		margin-top: 50px;
		background-color: #303030;
	}
	
	#bg-21:after,
	#bg-21:before {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 50%;
		content: "";
	}
	
	#bg-21:before { 
		left: 0;
		background-color: #303030;
	}
	
	#bg-21:after { 
		right: 0;
		background-color: #55b0d1;
	}
	
	#bg-22 {
		padding: 100px 0;
		margin-top: 80px;
		margin-bottom: 0;
	}
	
	#bg-23 {
		z-index: 2;
		overflow: visible;
		padding-top: 100px;
		padding-bottom: 0;
		margin-top: 70px;
		margin-bottom: 0;
		background-image: url(../../content/backgrounds/1920x1080-14.jpg);
	}
	
	#bg-24 {
		padding-top: 140px;
		padding-bottom: 0;
		margin-top: 70px;
		background-image: url(../../content/backgrounds/1920x1080-15.jpg);
	}
	
	#bg-25 {
		padding: 140px 0 100px;
		margin-bottom: 0;
		background-image: url(../../content/backgrounds/1920x1235.png);
	}
	
	#bg-26 {
		padding: 120px 0 60px 0;
		margin-bottom: 0;
	}
	
	#bg-27 {
		padding: 100px 0 50px 0;
		margin-top: 80px;
		margin-bottom: -50px;
	}
	
	#bg-28 {
		padding: 30px 0;
		margin-top: 50px;
		margin-bottom: 0;
		background-color: #898989;
	}
	
	#bg-28:after,
	#bg-28:before {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 50%;
		content: "";
	}
	
	#bg-28:before { 
		left: 0;
		background-color: #898989;
	}
	
	#bg-28:after { 
		right: 0;
		background-color: #0084b4;
	}
	
	#bg-29 {
		padding: 230px 0 210px;
		margin-bottom: 0;
		background-image: url(../../content/backgrounds/1920x800-1.jpg);
	}
	
	@media (max-width: 767px) {
			
		#bg-16:after,
		#bg-16:before {
			width: 100%;
		}
		
		#bg-16:before { 
			top: 0;
			bottom: 50%;
		}
		
		#bg-16:after {
			top: 50%;
			bottom: 0;
		}
		
		#bg-21:after,
		#bg-21:before {
			width: 100%;
		}
		
		#bg-21:before { 
			top: 0;
			bottom: 60%;
		}
		
		#bg-21:after {
			top: 40%;
			bottom: 0;
		}
		
	}